{% extends 'AcmeHelloBundle::base.html.twig' %}



{% block body %}

{{ knp_menu_render('AcmeHelloBundle:Builder:mainMenu') }}






<table width="100%"> 
<tr>
{# sorting of properties based on query components #}
    <th> bbb </th>

        <th> map </th>
    <th> grid </th>

    
    
</tr>

{# table body #}
{% for article in pagination %}

{% for groups in article %}
{{article.id}}




{% endfor %}

<tr {% if loop.index is odd %}class="color"{% endif %}>
   
   



</tr>
{% endfor %}
</table>


{% endblock %}
