<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="/styles/style.css" type="text/css" />
        <link rel="stylesheet" type="text/css" href="DataTables/datatables.css"/>

        <script src="/scripts/scripts.js"></script>
        <script src="/scripts/dataTables.buttons.min.js"></script>
        <script src="/scripts/dataTables.select.min.js"></script>

        <script src="/scripts/dataTables.editor.js"></script>

        <script src="/scripts/custom.js"></script>
    </head>
    <body>
    <nav class="navbar navbar-default">
    {{ knp_menu_render('AppBundle:Builder:mainMenu',{'currentClass':'active'}) }}
    </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
