{% extends 'base.html.twig' %}
{% block body %}

<table width="100%">
<tr>
{# sorting of properties based on query components #}
    <th> Name </th>
    <th> Bank </th>
    <th> Tax </th>
</tr>

{# table body #}
{% for article in pagination %}

{% for groups in article %}
{{article.id}}

{% endfor %}
<tr {% if loop.index is odd %}class="color"{% endif %}>
</tr>
{% endfor %}
</table>
{% endblock %}
